.jumbotron{
    background-color: greenyellow;
}
footer{
    background-color: greenyellow;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel{
flex: 1 200px;
padding: 2px 0px 2px 0px;
margin-top: 10%;
}
.btn-reserve{
    width: 100%;
    border-radius: 0px;
}
.parrafo{
    margin: 50px;
}
.footer-address-icon{
    padding-right: 20px;
}